# dependencies
/node_modules

# testing
/coverage

# production
#/build

# development
dev_server

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
package-lock.json
client_secret_351397926961-eephs0qnlg1a23dv3fgj8tonlrj028m0.apps.googleusercontent.com.json
